{% extends 'layout/base.html'%}
{#--Colocamos así nomas porque la base esta en un archivo py--#}

{% block 'title' %} Tareas{% endblock %}
{% block  'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static 'CSS/forms.css' %}">
{% endblock %}
{% block 'content' %}
<h1>Tareas</h1>
{% include 'todo/partials/search.html' %}
<span class="aux-btn"><a href="{% url 'todo' %}">Ver Tareas</a>
    <a href="{% url 'todo_create'  %}">Añadir</a>
</span>
<ul class="lista">
{% for todo in todos %}
<li> {{ todo }} 
    <span>
        <a href="{% url 'todo_view' id=todo.id %}" class="btn btn-detail">Ver</a>
        <a href="{% url 'todo_edit' id=todo.id %}" class="btn btn-edit">Editar</a>
        <a href="{% url 'todo_delete' id=todo.id %} " class="btn btn-delete">Borrar</a>
    </span>
</li>

{% endfor %}
</ul>
{% endblock %}
